.section {
  padding: 15px;
  border-bottom: crimson solid 1px;
  box-shadow: 3px 21px 9px -23px rgba(66, 68, 90, 1);
  margin-bottom: 40px;
}

.section--table {
  overflow-x: auto;
  padding-bottom: 45px;
}

.section__header {
  color: crimson;
  margin: 30px 0px
}

.section__aboutMe {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.section__image {
  height: 250px;
  border-radius: 5%;
  box-shadow: 3px 21px 9px -23px rgba(66, 68, 90, 1);
  border-bottom: crimson solid 1px;

}